body {
	overflow: hidden
}

.content {
	margin: 40px
}

.body {
	position: relative;
	width: 180px;
	height: 325px;
	margin: 0 auto;
	border-radius: 85px 85px 0 0;
	background: #fcda6d;
	background: linear-gradient(#fcda6d 37%, #cc9e2e);
}