.hair {
	padding: 0;

	li {
		position: absolute;
		top: -1px;
		left: 50%;
		width: 5px;
		height: 45px;
		margin: 10px;
		list-style: none;
		border: 2px solid #555;
		border-radius: 140px;
		z-index: 2;
	}

}

.hair-left {
	li {
		border-left: none;
		border-bottom: none;

		&:nth-child(1) {
			margin: 20px 0 0 -60px;
			transform: rotate(-20deg);
		}

		&:nth-child(2) {
			height: 30px;
			margin: 45px 0 0 -75px;
			transform: rotate(-50deg);
		}

		&:nth-child(3) {
			height: 36px;
			margin: 15px 0 0 -35px;
			transform: rotate(-50deg);
		}

		&:nth-child(4) {
			height: 26px;
			margin: 35px 0 0 -13px;
			transform: rotate(-20deg);
		}

	}

}