@charset "utf-8";
/**css重置**/
body,div,hr,p,blockquote,ul,ol,li,table,th,td,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,button,select,textarea,fieldset{ margin:0;padding:0; list-style: none;}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
img, fieldset { border: 0; }
/* 设置图片最大宽度为100%以自适应 */
img { max-width: 100%; width: auto\9; /* ie8 */}
/* 设置html5新标签为块状元素 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,form { display: block; }
/*fix*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }
.clear{line-height: 0px; font-size: 0px; height: 0px; display: block;clear: both;}
/**常规设置**/
body { background:#fff;font:100%/150% "Lucida Grande","Lucida Sans Unicode","microsoft yahei",Helvetica,Arial,Verdana,sans-serif; color: #333;}
a { color: #333; text-decoration: none; outline: none; }
a:hover { color: #333; text-decoration: none; cursor: pointer;}

/* 搜索 */
input[type=search] { -webkit-appearance: none; outline: none; }
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button { display: none; }