link(href="../../../node_modules/bootstrap/dist/css/bootstrap.css")
script(src="http://apps.bdimg.com/libs/jquery/1.10.1/jquery.min.js")
script(src="../../../node_modules/bootstrap/dist/js/bootstrap.min")