@charset "utf-8";
@mixin border($width,$color,$borderStyle){
	border:$width $color $borderStyle
}
@mixin horizontal-center(){
	margin:0 auto;
}
@mixin ellipsis() {
    overflow: hidden;
	-ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}
@mixin boxSizing {
		box-sizing: border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
}

@mixin triangle ($size, $color, $direction) {
    height: 0;
    width: 0;
    //三角向上、向下、向右和向左时，设置边框样式 
    @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
        border-color: transparent;
        border-style: solid;
        border-width: $size / 2;
        //三角向上时，底部边框颜色为$color
        @if $direction == up {
            border-bottom-color: $color;
            //三角向右时，左边边框颜色为$color
        }
        @else if $direction == right {
            border-left-color: $color;
            //三你向下时，顶部边框颜色为$color
        }
        @else if $direction == down {
            border-top-color: $color;
            //三角向左时，右边框颜色为$color
        }
        @else if $direction == left {
            border-right-color: $color;
        }
    }
    //当三角为左上、右上直角三角形时       
    @else if ($direction == up-right) or ($direction == up-left) {
        border-top: $size solid $color;

        //顶边边框样式

        //当三角为右上直角三角形时，设置左边边框为透明
        @if $direction == up-right {
            border-left: $size solid transparent;
            //当三角为左上直角三角形时，设置右边边框为透明
        }
        @else if $direction == up-left {
            border-right: $size solid transparent;
        }
    }
    //当三角为右下、左下直角三角形时
    @else if ($direction == down-right) or ($direction == down-left) {
        border-bottom: $size solid $color;

        //底边边框样式

        //当三角为右下直角三角形时，设置左边边框为透明
        @if $direction == down-right {
            border-left: $size solid transparent;
            //当三你为左下直角三角形时，设置右边边框为透明
        }
        @else if $direction == down-left {
            border-right: $size solid transparent;
        }
    }
}
// animation-keyframes;
@mixin animation-keyframes{
    $animation-name: unique-id(); // sass随机名称函数; == 》@mixin keyframes($animationName) {@keyframes #{$animationName} {@content;}}
    animation-name: $animation-name;
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
// generic transform
@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
     @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    -moz-transform-origin: $origin;
         -o-transform-origin: $origin;
        -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
          transform-origin: $origin;
}
// center
@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    } 
    // Output standard non-prefixed declaration
    #{$property}: $value;
}
// disabled button
@mixin disabled($bgColor: #e6e6e6,$textColor:#ababab){
    background-color: $bgColor !important;
    color: $textColor !important;
    cursor: not-allowed !important;
}
@mixin coverMask($bgColor:rgba(0,0,0,.5)) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgColor;
}
@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
            transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
     @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
       -moz-transform-origin: $origin;
         -o-transform-origin: $origin;
        -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
            transform-origin: $origin;
}

/* test
.test {
  @include skew(25,10);
  @include transform-origin(top left);
}*/
